<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="MainFileAppender" fileName="${sys:log.file}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- Silence noisy HTTP client cookies -->
        <Logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MainFileAppender"/>
        </Logger>
        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MainFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
